@import '../theme/theme';

#navbar {
  font-family: $primary-font !important;
  #navcontainer {
    position: sticky;
    background-color: $bg-d;
    display: flex;
    flex-direction: row;
    #parent {
      #brand {
        font-family: $primary-font;
        font-size: 1.6rem;
        color: $white;
      }
      #brand:hover {
        text-decoration: underline;
        text-decoration-color: $secondary;
      }
      ul {
        color: $bg-d;
        li {
          #brand {
            margin-left: 1rem;
          }
        }
      }
    }
    #rightside {
      font-family: $secondary-font;
      #list {
        .liDropdown {
          font-family: $secondary-font;
        }
        .liItem {
          link .link {
            color: $text-light;
          }
        }
      }
    }
  }
}
