@import '../theme/theme';
@import '../mixins/width.scss';

.container {
  height: 840px;
  width: 100vw;
  color: $bg-d;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  .carousel {
    margin: 1.5rem 0 1.5rem 0;
    cursor: grab;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 14px;
    background: $bg-d-900;
    .innerCarousel {
      display: flex;
      background: $bg-d-900;
      .item {
        width: 700px;
        margin: 3.2rem 0.5rem;
      }
      .item Img {
        pointer-events: none;
      }
    }
  }
}
