@import '../theme/theme';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  .grid {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .answerDisplay {
      // width: 700px;
      // height: 180px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 0.5rem;
      text-align: left;
      padding: 0.4rem;
      border: 1px solid $border-color;
      border-radius: $border-radius-sm;
      box-shadow: $base-box-shadow-xs;
      z-index: 1; 
      .answer {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
      }
    }

    .equations {
      width: 700px;
      height: 180px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 0.5rem;
      text-align: left;
      padding: 0.4rem;
      border: 1px solid $border-color;
      border-radius: $border-radius-sm;
      box-shadow: $base-box-shadow-xs;
      z-index: 1;
      .eqnts {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
      }
      .equation-container {
        .eqn {
          padding: 0;
          margin: 0;
        }
      }
      div.button-row {
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        button.btnActive, button.btnNot {
          padding: 0.5rem 1rem;
          width: 48%;
          color: $white;
          background-color: $primary;
          border: 0;
          border-radius: $border-radius-sm;
          margin: 0.2rem 0 0 0;
        }
        button.btnNot {
          background-color: $bg-d-100;
        }
        button:hover {
          cursor: pointer;
        }
      }
    }

    .form {
      width: 700px;
      height: 270px;
      text-align: center;
      font-size: 1rem;
      border: 1px solid $border-color;
      border-radius: $border-radius-sm;
      padding: 1.44rem 0.88rem 0 0.88rem;
      box-shadow: $base-box-shadow-sm;
      .input-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        .inputs {
          display: flex;
          width: 100%;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          .input-label {
            margin: 1rem;
            text-align: justify;
            font-weight: bold;
          }
          input {
            width: 300px;
            margin: $col-margin-sm;
            background-color: #fff;
            z-index: 1;
            box-shadow: $base-box-shadow-xs;
          }
        }
        .inputs-v {
          display: flex;
          width: 100%;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-between;
          margin-bottom: 0.5rem;
          .input-label {
            margin: 1rem;
            text-align: justify;
            font-weight: bold;
          }
          input {
            width: 300px;
            margin: $col-margin-sm;
            background-color: #fff;
            z-index: 1;
            box-shadow: $base-box-shadow-xs;
          }
        }
      }
      .form-button {
        width: 700px;
        position: absolute;
        bottom: 174px;
        z-index: 1;
        button {
          color: #fff;
          width: 100%;
          height: 44px;
          margin: 0.5rem 0;
          border-radius: $border-radius-sm;
          background-color: $secondary;
        }
      }
    }
  }
}
