@import '../theme/theme';
@import '../mixins/width.scss';

.container {
  height: 100%;
  width: 100vw;
  color: $bg-d;
  display: flex;
  flex-direction: column;
  align-items: center;
  .grid {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .header {
      margin: 1rem 0.33rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .title1 {
        font-size: 3.5rem;
        margin: 0 0 0.2rem 0;
        text-align: justify;
      }
      .title2 {
        font-size: 2.3rem;
        margin: 0.2rem 0 0.5rem 0.15rem;
        text-align: justify;
      }
    }
    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      button {
        width: 260px;
        margin: 0.7rem 0;
      }
    }
  }
}
