@import '../theme/theme';
@import '../mixins/width.scss';

.container {
  height: 100%;
  width: 100vw;
  color: $bg-d;
  display: flex;
  flex-direction: column;
  align-items: center;
  .grid {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .header {
      margin: 2rem 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .title1 {
        font-size: 3.5rem;
        margin: 0 0 0.2rem 0;
        text-align: justify;
        padding: 0 0 0.33rem 0;
        border-bottom: 2px solid $border-color;
      }
      .title2 {
        font-size: 2.3rem;
        margin: 0.2rem 0 0.3rem 0.15rem;
        text-align: justify;
      }
      .title3 {
        font-size: 1.4rem;
        margin: 0.2rem 0 0.5rem 0.15rem;
        text-align: justify;
      }
    }
    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      button {
        width: 260px;
        margin: 0.7rem 0;
      }
      .card {
        color: #fff;
        background-color: $bg-d;
        width: 100%;
        border-radius: 4px;
        margin: 0.55rem 0.22rem;
        border: 1px solid $border-color;
        box-shadow: $base-box-shadow-xs;
        z-index: 1;
        #header {
          margin: 0.8rem 0 0.5rem 0;
          padding: 0.5rem 0 0.2rem 1.3rem;
          color: #fff;
          border-bottom: 1px solid $border-color;
          .card-grid {
            display: flex;
            flex-direction: row;
            color: #fff;
            .col1 {
              width: auto;
            }
            .col2 {
              margin: 0 0.3rem;
              color: #fff;
              #title {
                color: #fff;
              }
              p {
                color: #fff;
              }
            }
          }
        }
        #body {
          padding: 0.5rem 0 0.5rem 1.75rem;
          .paragraph {
            color: #fff;
          }
        }
      }
    }
  }
}
